body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(
    to top,
    #0c356a,
    #00578e,
    #007aaf,
    #009fcc,
    #00c5e6,
    #22c8e9,
    #33caec,
    #40cdef,
    #54acd8,
    #618db9,
    #646f95,
    #5c5470
  );
}
